@import "./utilidades/utilidades.css";

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--cor-11);
  height: 10000px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.header-bg {
  background: var(--cor-1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: var(--cor-0);
}

.header > img {
  margin-right: 30px;
}

.logo {
  transition: 0.3s;
}

.logo:hover {
  transform: rotate(50deg);
}

.navegacao {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-transform: uppercase;
  justify-content: center;
}

.navegacao a {
  padding: 5px;
  border: 2px solid var(--cor-1);
  transition: 0.3s;
}

.navegacao a:hover {
  border: 2px solid var(--cor-0);
}

@media (max-width: 800px) {
  .navegacao {
    font-size: 0.94rem;
  }
}

main {
  text-align: center;
  max-width: 500px;
  margin: auto;
  color: var(--cor-0);
}

.introducao {
  margin-bottom: 200px;
}

.introducao h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.introducao p {
  margin-top: 45px;
}

.pizzas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  /* align-items: center; */
}

.pizzas p {
  font-size: 1.1rem;
}

.pizzas img {
  max-width: 100%;
}

.pizza-info {
  border: 2px solid var(--cor-0);
  padding: 20px;
}

.pizza-info p {
  grid-column: 1 / 2;
}

.pobreza {
  margin: auto;
}

@media (max-width: 800px) {
  .pizzas {
    width: 400px;
    font-size: 0.8rem;
  }
}

.pizza-info {
  padding: 0px;
}

.china p {
  margin-bottom: 0px;
}

.joke {
  display: none;
}

/* .pizza-info h2 {
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.pizza-info p {
  margin-top: 10px;
  margin-bottom: 10px;
} */

@media (max-width: 600px) {
  .pizzas {
    grid-template-columns: 1fr;
    width: 300px;
  }

  .pobreza {
    grid-row: 3;
  }
}
